@import 'fonts.scss';
$fontapp: 'Comfortaa', cursive;
$fontmenu:  'Open Sans', sans-serif;
$font-title: 'Oleo Script';

body{
	font-family: $fontapp;
	header{
		.social-icons{
			z-index: 1031;
			position: absolute;
			right: 28px;
			top: 24px;
			color: #fff;
		}
		nav.navbar{
			font-family: $fontmenu;
			background-color: rgba(000,000,000,0.35);
			padding: 0.975rem 1rem; 
			.btn-primary{
				background-color: rgba(000,000,000,0.0);
				border: none;
			}
			.btn{
				text-transform: uppercase;
				font-size: 12px;
			}
		}
	}
}