<div class="d-flex about-us" id="about">
  <div class="w-50">
    <img src="../assets/images/img-aboutus.jpg" class="mw-100"/>
  </div>
  <div class="w-50 right-box">
    <h1 class="float-left">About Us</h1>
    <p class="float-left text-left">We’re a dedicated team of passionate designers, thinkers, problem solvers and technologists with a shared love of UX and
    a desire to push the field forward. We help organisations create and improve products through research, strategy and design.</p>
    <button type="button" class="btn btn-link float-left">Learn More</button>
  </div>
</div>
