<ngb-carousel>
  <ng-template ngbSlide>
    <img src="../assets/images/home-slider-01.jpg" alt="Random first slide">
    <div class="carousel-caption">
      <h3>We build web business.<br/>Got an idea? Start here</h3>
      <p>One theme is all what you need.</p>
      <a class="btn btn-default btn-more">Learn more</a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/home-slider-02.jpg" alt="Random second slide">
    <div class="carousel-caption">
      <h3>We build web business.<br/>Got an idea? Start here</h3>
      <p>One theme is all what you need.</p>
      <a class="btn btn-default btn-more">Learn more</a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/home-slider-03.jpg" alt="Random third slide">
    <div class="carousel-caption">
      <h3>We build web business.<br/>Got an idea? Start here</h3>
      <p>One theme is all what you need.</p>
      <a class="btn btn-default btn-more">Learn more</a>
    </div>
  </ng-template>
</ngb-carousel>