<h1>Latest works</h1>
<p>We work with a diverse and dynamic range of people and brands, and celebrate our made-to-measure approach to every project
and client engagement.</p>
<nav>
  <a routerLink="/allworks" routerLinkActive="active">ALL</a>
  <a routerLink="/webdesign" routerLinkActive="active">WEB DESIGN</a>
  <a routerLink="/branding" routerLinkActive="active">BRANDING</a>
  <a routerLink="/graphic" routerLinkActive="active">GRAPHIC</a>
  <a routerLink="/identity" routerLinkActive="active">IDENTITY</a>
  <a routerLink="/prints" routerLinkActive="active">PRINT</a>
</nav>
<router-outlet></router-outlet>