/**/
@font-face {
  font-family: 'Oleo Script';
  src: url("../assets/fonts/oleo_sans/OleoScript-Regular.eot");
  src: url("../assets/fonts/oleo_sans/OleoScript-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/oleo_sans/OleoScript-Regular.woff2") format("woff2"), url("../assets/fonts/oleo_sans/OleoScript-Regular.woff") format("woff"), url("../assets/fonts/oleo_sans/OleoScript-Regular.ttf") format("truetype"), url("../assets/fonts/oleo_sans/OleoScript-Regular.svg#OleoScript-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Oleo Script';
  src: url("../assets/fonts/oleo_sans/OleoScript-Bold.eot");
  src: url("../assets/fonts/oleo_sans/OleoScript-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/oleo_sans/OleoScript-Bold.woff2") format("woff2"), url("../assets/fonts/oleo_sans/OleoScript-Bold.woff") format("woff"), url("../assets/fonts/oleo_sans/OleoScript-Bold.ttf") format("truetype"), url("../assets/fonts/oleo_sans/OleoScript-Bold.svg#OleoScript-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open_sans/OpenSans-BoldItalic.eot");
  src: url("../assets/fonts/open_sans/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open_sans/OpenSans-BoldItalic.woff2") format("woff2"), url("../assets/fonts/open_sans/OpenSans-BoldItalic.woff") format("woff"), url("../assets/fonts/open_sans/OpenSans-BoldItalic.ttf") format("truetype"), url("../assets/fonts/open_sans/OpenSans-BoldItalic.svg#OpenSans-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open_sans/OpenSans-Light.eot");
  src: url("../assets/fonts/open_sans/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open_sans/OpenSans-Light.woff2") format("woff2"), url("../assets/fonts/open_sans/OpenSans-Light.woff") format("woff"), url("../assets/fonts/open_sans/OpenSans-Light.ttf") format("truetype"), url("../assets/fonts/open_sans/OpenSans-Light.svg#OpenSans-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open_sans/OpenSans-LightItalic.eot");
  src: url("../assets/fonts/open_sans/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open_sans/OpenSans-LightItalic.woff2") format("woff2"), url("../assets/fonts/open_sans/OpenSans-LightItalic.woff") format("woff"), url("../assets/fonts/open_sans/OpenSans-LightItalic.ttf") format("truetype"), url("../assets/fonts/open_sans/OpenSans-LightItalic.svg#OpenSans-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open_sans/OpenSans-ExtraBold.eot");
  src: url("../assets/fonts/open_sans/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open_sans/OpenSans-ExtraBold.woff2") format("woff2"), url("../assets/fonts/open_sans/OpenSans-ExtraBold.woff") format("woff"), url("../assets/fonts/open_sans/OpenSans-ExtraBold.ttf") format("truetype"), url("../assets/fonts/open_sans/OpenSans-ExtraBold.svg#OpenSans-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open_sans/OpenSans-Bold.eot");
  src: url("../assets/fonts/open_sans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open_sans/OpenSans-Bold.woff2") format("woff2"), url("../assets/fonts/open_sans/OpenSans-Bold.woff") format("woff"), url("../assets/fonts/open_sans/OpenSans-Bold.ttf") format("truetype"), url("../assets/fonts/open_sans/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open_sans/OpenSans-ExtraBoldItalic.eot");
  src: url("../assets/fonts/open_sans/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open_sans/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/open_sans/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../assets/fonts/open_sans/OpenSans-ExtraBoldItalic.ttf") format("truetype"), url("../assets/fonts/open_sans/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open_sans/OpenSans-Regular.eot");
  src: url("../assets/fonts/open_sans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open_sans/OpenSans-Regular.woff2") format("woff2"), url("../assets/fonts/open_sans/OpenSans-Regular.woff") format("woff"), url("../assets/fonts/open_sans/OpenSans-Regular.ttf") format("truetype"), url("../assets/fonts/open_sans/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open_sans/OpenSans-SemiBoldItalic.eot");
  src: url("../assets/fonts/open_sans/OpenSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open_sans/OpenSans-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/open_sans/OpenSans-SemiBoldItalic.woff") format("woff"), url("../assets/fonts/open_sans/OpenSans-SemiBoldItalic.ttf") format("truetype"), url("../assets/fonts/open_sans/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open_sans/OpenSans-Italic.eot");
  src: url("../assets/fonts/open_sans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open_sans/OpenSans-Italic.woff2") format("woff2"), url("../assets/fonts/open_sans/OpenSans-Italic.woff") format("woff"), url("../assets/fonts/open_sans/OpenSans-Italic.ttf") format("truetype"), url("../assets/fonts/open_sans/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Open Sans';
  src: url("../assets/fonts/open_sans/OpenSans-SemiBold.eot");
  src: url("../assets/fonts/open_sans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open_sans/OpenSans-SemiBold.woff2") format("woff2"), url("../assets/fonts/open_sans/OpenSans-SemiBold.woff") format("woff"), url("../assets/fonts/open_sans/OpenSans-SemiBold.ttf") format("truetype"), url("../assets/fonts/open_sans/OpenSans-SemiBold.svg#OpenSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Comfortaa';
  src: url("../assets/fonts/comfortaa/Comfortaa-Bold.eot");
  src: url("../assets/fonts/comfortaa/Comfortaa-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/comfortaa/Comfortaa-Bold.woff2") format("woff2"), url("../assets/fonts/comfortaa/Comfortaa-Bold.woff") format("woff"), url("../assets/fonts/comfortaa/Comfortaa-Bold.ttf") format("truetype"), url("../assets/fonts/comfortaa/Comfortaa-Bold.svg#Comfortaa-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Comfortaa';
  src: url("../assets/fonts/comfortaa/Comfortaa-Regular.eot");
  src: url("../assets/fonts/comfortaa/Comfortaa-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/comfortaa/Comfortaa-Regular.woff2") format("woff2"), url("../assets/fonts/comfortaa/Comfortaa-Regular.woff") format("woff"), url("../assets/fonts/comfortaa/Comfortaa-Regular.ttf") format("truetype"), url("../assets/fonts/comfortaa/Comfortaa-Regular.svg#Comfortaa-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Comfortaa';
  src: url("../assets/fonts/comfortaa/Comfortaa-Light.eot");
  src: url("../assets/fonts/comfortaa/Comfortaa-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/comfortaa/Comfortaa-Light.woff2") format("woff2"), url("../assets/fonts/comfortaa/Comfortaa-Light.woff") format("woff"), url("../assets/fonts/comfortaa/Comfortaa-Light.ttf") format("truetype"), url("../assets/fonts/comfortaa/Comfortaa-Light.svg#Comfortaa-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
body {
  font-family: "Comfortaa", cursive; }
  body header .social-icons {
    z-index: 1031;
    position: fixed;
    right: 28px;
    top: 24px; }
    body header .social-icons a {
      margin: 0px 5px;
      color: #fff;
      text-decoration: none; }
      body header .social-icons a:hover {
        color: #50E3C2; }
  body header nav.navbar {
    font-family: "Open Sans", sans-serif;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 0.975rem 1rem;
    width: 100%; }
    body header nav.navbar .menu-top {
      position: absolute;
      width: 100%; }
      body header nav.navbar .menu-top .btn-primary {
        background-color: rgba(0, 0, 0, 0);
        border: none; }
        body header nav.navbar .menu-top .btn-primary:hover {
          cursor: pointer; }
      body header nav.navbar .menu-top .btn {
        text-transform: uppercase;
        font-size: 12px; }
      body header nav.navbar .menu-top .focus {
        box-shadow: none;
        text-decoration: line-through #50E3C2; }
  body .carousel .carousel-indicators {
    display: none; }
  body .carousel .carousel-inner .carousel-item .carousel-caption {
    top: 40%; }
    body .carousel .carousel-inner .carousel-item .carousel-caption h3 {
      letter-spacing: 1px;
      line-height: 36px; }
    body .carousel .carousel-inner .carousel-item .carousel-caption a.btn-more {
      background-color: #50E3C2;
      border-radius: 50px;
      font-family: "Open Sans", sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      padding: .5rem 2rem;
      margin-top: 30px; }
      body .carousel .carousel-inner .carousel-item .carousel-caption a.btn-more:hover {
        background-color: #333;
        cursor: pointer; }
  body .carousel .carousel-control-prev .carousel-control-prev-icon {
    background-image: none;
    background-color: #fff;
    font-family: 'Ionicons';
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #000;
    padding: 20px;
    line-height: 2px;
    text-indent: -6px; }
    body .carousel .carousel-control-prev .carousel-control-prev-icon::before {
      content: '\f2ca'; }
  body .carousel .carousel-control-next .carousel-control-next-icon {
    background-image: none;
    background-color: #fff;
    font-family: 'Ionicons';
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: #000;
    padding: 20px;
    line-height: 2px;
    text-indent: -6px; }
    body .carousel .carousel-control-next .carousel-control-next-icon::before {
      content: '\f30f'; }
  body h1 {
    font-family: "Oleo Script"; }
    body h1:after {
      position: absolute;
      content: "";
      height: 2px;
      background-color: #50E3C2;
      width: 96px;
      top: 16%;
      left: 41.5%; }
  body .why-us {
    padding: 50px 0px; }
    body .why-us .title-section {
      margin-bottom: 50px; }
    body .why-us .box-why {
      border: 1px solid #EEEEEE;
      padding: 10px;
      margin: 0px 20px;
      background-color: white;
      transition: all 0.5s ease-in-out; }
      body .why-us .box-why .border {
        padding: 30px; }
      body .why-us .box-why .icon {
        font-size: 42px;
        color: #4A4A4A;
        transition: all 0.11s ease-in-out; }
      body .why-us .box-why h2 {
        font-family: "Oleo Script"; }
      body .why-us .box-why p {
        font-size: .85rem;
        color: #6B6B6B;
        transition: all 0.11s ease-in-out; }
      body .why-us .box-why:hover {
        background-color: #50E3C2;
        color: white;
        border: 1px solid white; }
        body .why-us .box-why:hover .icon, body .why-us .box-why:hover p {
          color: white; }

/*# sourceMappingURL=styles.css.map */
