<div class="row our-team" id="team">
    <div class="container-fluid container-fluid-team">
      <div class="col-md-6 mr-auto ml-auto md-auto">
        <h1>Our Team</h1>
        <p>Experienced hands who’ve worked with the world’s leading brands and young millennials with a necessary indifference to tradition.</p>
      </div>
      <div class="d-flex justify-content-start">
          <div class="p-4 col team" id="team-01">
            <a class="box-team">
              <h4>Pablo Silva</h4>
              <p>Web developer</p>
              <a href="#">
                <i class="ion-social-facebook"></i>
              </a>
              <a href="#">
                <i class="ion-social-twitter"></i>
              </a>
              <a href="#">
                <i class="ion-social-googleplus-outline"></i>
              </a>
              <a href="#">
                <i class="ion-social-instagram-outline"></i>
              </a>
            </a>
            <img src="assets/images/ourteam-01.jpg">
          </div>
          <div class="p-4 col team">
            <a class="box-team">
              <h4>Delia Mendez</h4>
              <p>UI Designer</p>
              <a href="#">
                <i class="ion-social-facebook"></i>
              </a>
              <a href="#">
                <i class="ion-social-twitter"></i>
              </a>
              <a href="#">
                <i class="ion-social-googleplus-outline"></i>
              </a>
              <a href="#">
                <i class="ion-social-instagram-outline"></i>
              </a>
            </a>
            <img src="assets/images/ourteam-02.jpg">
          </div>
          <div class="p-4 col team">
            <a class="box-team">
              <h4>Francisco Valenzuela</h4>
              <p>Executive Director</p>
              <a href="#">
                <i class="ion-social-facebook"></i>
              </a>
              <a href="#">
                <i class="ion-social-twitter"></i>
              </a>
              <a href="#">
                <i class="ion-social-googleplus-outline"></i>
              </a>
              <a href="#">
                <i class="ion-social-instagram-outline"></i>
              </a>
            </a>
            <img src="assets/images/ourteam-03.jpg">
          </div>
      </div>
      <a class="ion-record"></a>
      <a class="ion-record"></a>
      <a class="ion-record"></a>
    </div>
</div>