<header class="fixed-top d-flex flex-row">
  <nav class="navbar navbar-expand-md navbar-dark d-flex flex-row">  
    <a href="#" class="d-flex justify-content-start">
      <img src="assets/images/logo.svg" class="float-left">
    </a>
    <div class="collapse navbar-collapse d-flex justify-content-center menu-top">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn-primary" ngbButtonLabel>
          <a pageScroll href="#home" routerLink="/home">Home</a>
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <a pageScroll href="#about" routerLink="about">About</a>
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <a pageScroll href="#features" routerLink="feature">Feature</a>
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <a pageScroll href="#works" routerLink="work">Work</a>
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <a pageScroll href="#team" routerLink="team">Team</a>
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <a pageScroll href="#clients" routerLink="clients">Clients</a>
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <a pageScroll href="#blog" routerLink="blog">Blog</a>
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <a pageScroll href="#contact" routerLink="contact">Contact</a>
        </label>
      </div>
    </div>
  </nav>
  <div class="float-right social-icons d-flex justify-content-end">
    <a href="http://www.facebook.com" target="_blank">
      <i class="ion-social-facebook"></i>
    </a>
    <a href="http://www.twitter.com" target="_blank">
      <i class="ion-social-twitter"></i>
    </a>
    <a href="http://www.google.com" target="_blank">
      <i class="ion-social-googleplus"></i>
    </a>
  </div>
</header>