<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">  
    <a href="#">
      <img src="assets/images/logo.svg" class="float-left">
    </a>
    <div class="collapse navbar-collapse d-flex justify-content-center">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.home"> Home
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.about"> About
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.feature"> Feature
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.work"> Work
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.team"> Team
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.pricing"> Pricing
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.blog"> Blog
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.contact"> Contact
        </label>
      </div>
    </div>
  </nav>
  <div class="float-right social-icons">
    <i class="ion-social-facebook"></i>
    <i class="ion-social-twitter"></i>
    <i class="ion-social-googleplus"></i>
  </div>
</header>