<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">  
    <a href="#">
      <img src="assets/logo.svg" class="float-left">
    </a>
    <div class="collapse navbar-collapse">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.home"> Home
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.about"> About
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.feature"> Feature
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.work"> Work
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.team"> Team
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.pricing"> Pricing
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.blog"> Blog
        </label>
        <label class="btn-primary" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="model.contact"> Contact
        </label>
        <label>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-google-plus" aria-hidden="true"></i>
        </label>
      </div>
    </div>
  </nav>
</header>