<div class="d-flex flex-column features" id="features">
  <h1>Some features</h1>
  <p class="text-center">Strategic thinkers for modern business and storytellers for the digital age.</p>
  <!-- <div class=""> -->
    <div class="service-features container">
      <div class="d-flex col p-4 col-sm-4 float-left">
        <i class="icon ion-images float-left"></i>
        <div class="float-left">
          <h3>Service Design</h3>
          <p>Metus neque sollicitudin id lacus convallis cum sollicitudin rutrum cubilia libero euismod donec massa gravida rutrum class aliquet non orci blandit.</p>
        </div>
      </div>
      <div class="d-flex col p-4 col-sm-4 float-left">
        <i class="align-self-start icon ion-android-color-palette"></i>
        <div class="align-self-end">
          <h3>User Interface Design</h3>
          <p>Metus neque sollicitudin id lacus convallis cum sollicitudin rutrum cubilia libero euismod donec massa gravida rutrum class aliquet non orci blandit.</p>
        </div>
      </div>
      <div class="d-flex col p-4 col-sm-4 float-left">
        <i class="align-self-start icon ion-ios-analytics"></i>
        <div class="align-self-end">
          <h3>Experience Design</h3>
          <p>Metus neque sollicitudin id lacus convallis cum sollicitudin rutrum cubilia libero euismod donec massa gravida rutrum class aliquet non orci blandit.</p>
        </div>
      </div>
      <div class="d-flex col p-4 col-sm-4 float-left">
        <i class="align-self-start icon ion-ios-speedometer"></i>
        <div class="align-self-end">
          <h3>Product Strategy</h3>
          <p>Metus neque sollicitudin id lacus convallis cum sollicitudin rutrum cubilia libero euismod donec massa gravida rutrum
            class aliquet non orci blandit.</p>
        </div>
      </div>
      <div class="d-flex col p-4 col-sm-4 float-left">
        <i class="align-self-start icon ion-coffee"></i>
        <div class="align-self-end">
          <h3>Digital Development</h3>
          <p>Metus neque sollicitudin id lacus convallis cum sollicitudin rutrum cubilia libero euismod donec massa gravida rutrum
            class aliquet non orci blandit.</p>
        </div>
      </div>
      <div class="d-flex col p-4 col-sm-4 float-left">
        <i class="align-self-start icon ion-bug"></i>
        <div class="align-self-end">
          <h3>Research and Testing</h3>
          <p>Metus neque sollicitudin id lacus convallis cum sollicitudin rutrum cubilia libero euismod donec massa gravida rutrum
            class aliquet non orci blandit.</p>
        </div>
      </div>
    </div>
  <!-- </div> -->
</div>