<div class="container why-us">
  <div class="row title-section">
    <div class="col">
      <h1>Why Us</h1>
      <p>Digital services to delight, challenge, and transform.<br/>
        We think responsibly, ethically and strive to create beautiful, useful
        experiences.</p>
    </div>
  </div>
  <div class="row">
    <div class="col box-why">
      <div class="border border-white">
        <i class="icon ion-crop"></i>
        <h2>Innovate</h2>
        <p>We take time to understand your pain points, identify opportunities and workshop solutions.</p>
      </div>
    </div>
    <div class="col box-why">
      <div class="border border-white">
        <i class="icon ion-erlenmeyer-flask"></i>
        <h2>Create</h2>
        <p>With the idea in place we’ll help you to realise the vision, from design to development.</p>
      </div>
    </div>
    <div class="col box-why">
      <div class="border border-white">
        <i class="icon ion-aperture"></i>
        <h2>Scale</h2>
        <p>Marketing your product needs to start from the moment of conception not launch.</p>
      </div>
    </div>
  </div>
</div>